/*Typography*/
@font-face {
    font-family: NunitoSans;
    src: 
        url(/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format(truetype);
        font-weight: 200 1000;
}
.icon {
    height: 24px;
}
/*Layout*/
body{
    display: flex;
    max-width: 600px;
    margin: 0px auto 0px auto;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    gap: 32px;
    background-color: #DAD9E3;
    font-family: "NunitoSans";
    background: url(img/RB-GradientBackground.png) rgba(255, 255, 255, 0.638) 70% / cover no-repeat ;
    background-blend-mode: overlay; 
    color: #2D2D41;
}
#logo_header {
    min-width: 150px;
    width: 30vw;
    max-width: 300px;
    margin-top: 36px;
}
.counter {
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 4px;
    font-size: 18px;
    font-weight: 400;
}
#counterContainer {
    display: flex;
    align-items: center; /* Pour aligner le compteur avec le pictogramme */
}
button {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 16px 64px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #3C36F2;
    color: white;
    font-size: 24px;
    font-family: "NunitoSans";
    outline: none;
    border: 0;
}
#ExplicationButton{
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-family: "NunitoSans";
}
footer{
    font-family: "NunitoSans";
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -10;
}
#Credit{
    text-align: center;
    bottom: 8px;
    color: #6C6C89;
}

/*Input*/
input{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #D1D1DB;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05);
    padding: 12px;
    font-family: "NunitoSans";
    font-size: 16px;
    line-height: 30px;
}
#InputsContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.InputBlock{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.InputIcon{
    height: 24px;
    width: 24px;
    position: absolute;
    margin-right: 12px;
    background-image: url(img/plus.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    pointer-events: none;
}
/* Style pour l'input avec icône */
input:focus{
    outline-width: 0;
    border: 1px solid #2D2D41;
    background-image: none;
}
input:focus + .InputIcon{
    background-image: none;
    cursor: default;
}
input.ValidInput:not(:focus) + .InputIcon{
    background-image: url(img/trash.png);
    cursor: pointer;
    pointer-events: visible;
}
input.ValidInput + .InputIcon:hover{
    background-image: url(img/trashred.png);
}
input.ValidInput{
    border: 1px solid #3C36F2;
}
input.ValidInput:focus + .InputIcon{
    background-image: url(img/vu.png);
}


/*Responsive*/
/*Mobile*/
@media screen and (max-width: 767px) {
    body{
        width: 92vw;
    }
}