#logo_header {
    height: 104px;
    width: 140px;
}
/*Typography*/

/*Layout*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #DAD9E3;
    font-family: "Mark pro";
}

#ExplicationButton{
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-family: "Mark pro";
}

#Credit{
    bottom: 8px;
}

/*Input*/
#InputsContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ValidInput{
    background-color: greenyellow;
}
